<h1>New Client</h1>

<%= render 'form', client: @client %>

<br />
<em>Can't find the right customer?</em>&nbsp;
<%= link_to 'Create new user', new_user_path %>
<br />
<br />

<%= link_to 'Back', clients_path %>
