<%= form_with do |form| %>
  <div class="field">
    <%= form.label :card_product, class: 'required' %>
    <%= form.select :card_product_token, options_for_select(@card_products), prompt: 'Please Select', required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
