// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.field.add-funds-form {
  height: 25px;
  margin-bottom: 0;
  input {
    max-width: 100px;
  }
  input, .add-fund-button {
    display: inline-block;
    margin-bottom: 0;
  }
}
