// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.basic-client-info, .client-cards {
  display: table-cell;
  width: 50vw;
}

.card-activation-form {
  select, .status-change-button {
    display: inline-block;
  }
}
