@import "bootstrap-sprockets";
@import "bootstrap";
@import "header.scss";

* {
  font-family: 'Nunito', sans-serif;
}

body div.container {
  padding: 10px 30px;
}

.cell-link a:after, a:after {
  content: " >>"
}
td a:after {
  content: none;
}

.cell-link a, a {
  text-decoration: none !important;
  &:after {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
  }
  &:hover {
    cursor: pointer;
    color: #6A63FF;
    background-color: none !important;
    &:after {
      margin-left: 4px;
    }
  }
}

th, td {
  text-align: left;
  padding-right: 8px;
}

label.required:after{
  content: " *";
  color: red;
}

input.form-control {
  max-width: 300px;
}

input.form-control.small-form {
  max-width: 100px;
  height: 25px;
}

.cell-link {
  a {
    font-weight: bold;
  }
}

.small-font, .small-font strong {
  font-size: 10px;
}

.btn {
  margin-top: 10px;
}
