$background: #13133d;
$font: #06dfd9;

nav.navbar.navbar-default {
  background-color: $background;
  a,.navbar-brand {
    color: $font;
  }

  .header-list-items a {
    border-bottom: 4px solid $background;
    -webkit-transition: border-color .5s;
    transition: border-color .5s;
    &:hover {
      border-color: #fff;
      color: $font;
    }
  }

  em {
    color: #ddd;
  }

  a:after {
    content: none !important;
  }

  ul.nav.navbar-nav {
    .dropdown-menu li a {
      color: $background;
      border: none !important;
      &:hover {
        color: darken($background, 10%);
      }
    }
    li.dropdown:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}
