// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.field.transaction-amount-field {
  label, input {
    display: inline-block;
  }
  input {
    max-width: 150px;
    height: 25px;
  }
}
